.header {
    background-color: black;
    color:white !important;
    font-family: 'Courgette', cursive;
    height: 7vh;
}
.header a {
    text-decoration: underline !important;
    color: white !important;
}
.header a:hover {
    color: lightgray;
}
.header h3 {
    padding-left: 1%;
}